body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.top-container {
    background: url('imgs/top-bar.png');
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 5px 5px 35px 3px rgba(255, 255, 255, 0.507);
    border: 2px solid rgba(141, 104, 53, 0.671);
}

#top-bar {
    margin-top: 5px;
    position: relative;
    border-radius: 12px;
    font-size: 12px;
    left:50%;
    width: 60%;
    transform:translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 1%;
    font-family: cursive;
    background: rgba(34, 34, 34, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    visibility: hidden;
}
#level-img{
    display:flex;
    position:absolute;
    background:url('imgs/ExpBar.png'); 
    background-repeat: no-repeat;
    background-size:contain;
    right:30%;
    text-align: center;
    justify-content:space-evenly;
    width: 45rem;
    height: 99%;
    scale: 0.9;
    min-height:120px;
}
#level-info {
    color:#fff;
    height: 20px;
    font: Roboto;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    margin-top: 4.5%;
    text-shadow: 1px 1px 5px #000000
}
#exp-info {
    color:#fff;
    height: 20px;
    font: Roboto;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    margin-top: 4.5%;
    text-shadow: 1px 1px 5px #000000
}
#energy-img {
    position:absolute;
    top:0;
    right:0;
    background:url('imgs/EnergyBar2.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:150px;
    height:100%;
    text-align: center;
    justify-content: center;
    min-height:120px;
}
#stamina-info {
    color:#f0d0fd;
    font: Roboto;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    justify-content: center;
    margin-top: 22%;
    margin-right: 25%;
    text-shadow: 1px 1px 5px #000000
}

#hp-img {
    position:absolute;
    top:0;
    left:0;
    background:url('imgs/HPBar.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:150px;
    min-height:120px;
    height:100%;
    text-align: center;
    justify-content: center;

}
#health-info {
    color:#fdd0d0;
    font: Roboto;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    justify-content: center;
    margin-top: 22%;
    margin-left: 3%;
    text-shadow: 1px 1px 5px #000000
}

#info-box {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.container-wrapper {
    display: flex;
    height: 85%; /* Reszta dostępnego miejsca */
    width:100%;
}
.ui-wrapper {
    display: flex;
    height: 100%;
    width: 40%;

}
.ui-container {
    background:url('imgs/UIBg.png');
    background-size: contain;
    background-repeat:repeat-y;
    position: relative;
    width: 100%;
    padding: 2px;
    height: 100%; /* Reszta dostępnego miejsca */
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: 2px solid rgba(141, 104, 53, 0.671);
    box-shadow: inset 2px 5px 5px 5px rgba(0, 0, 0, 0.658);
}
.ui-topbar {
    height:50px;
    width:100%;
    justify-content: space-between;
    color:#fff;
    background: rgba(39, 17, 2, 0.7);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 4px;
    margin:5px;
}
/* ADMIN PANEL */
/*
.location-button {
    position:relative;
    height: 55px;
    width: 80px;
    margin: 5px;
    border-radius: 16px;
    border: none;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color:#fff;
    text-align:center;
    background: rgba(157, 255, 201, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: box-shadow 0.3s ease-in-out;
}
*/

.admin-panel {
    position:absolute;
    display:none;
    bottom: 0;
    scale:0.8;
    width:100%;
    background-color: #ffffff3b;
    border: 1px solid #cccccc60;
    padding: 10px;
    font-size:6px;
    font-weight: bold;
    border-radius: 12px;
}


.player-stats {
    position:absolute;
    width: 100%;
    scale: 0.8;
    bottom: 0;
    margin-bottom: 7%;
    display: none;
    text-align: center;
    font-family: Roboto;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}

.playground-container {
    border: 5px solid blue;
    background:url('imgs/game-ct-bg.png');
    background-repeat: norepeat;
    background-size:cover;
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%; /* Reszta dostępnego miejsca */
    border: 2px solid rgba(141, 104, 53, 0.671);
}


#loc-bar {
    position: absolute;
    width:10%;
    top: 20%;
    left: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(6, 34, 10, 0.47);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    z-index: 1;
}


.info-box2 {
    position: absolute;
    top: 15%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility:hidden;

}




#gold-info {
    width:25px;
    font-size: 16px;
    background-color: #ffd000bb;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding:12px;
}
#location-info {
    font-family: cursive;
    color: #fff;
    text-align: center;
    margin:10px;
    justify-content: center;
    padding:12px;
}

#potion-icon {
    width:25px;
    background-color: #59287994;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;

}
#potion-iconHP {
    width:25px;
    background-color: #ff000d8f;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;

}
#potion-iconINV {
    background-color: #3b0c008f;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    min-width: 20px;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
#inventory-info {
    background-color: #5c5c5c94;
    color: #fff;
    text-align: center;
    min-width: 50px;
}
.info-box .shop {
    padding: 2px;
    color: rgb(196, 218, 0);
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    background-color: #f6e8ff94;
}


@keyframes levelUpAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
.level-up {
    animation: levelUpAnimation 0.5s ease-in-out;
    transform: scale(1);
}

#experience-bar-container {

    text-align: center;
}

#experience-bar {
    visibility:hidden;

}
#exp-to-next-level-info {
    align-items: center;
    text-align: center;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 520px;
    min-height: 420px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    border-radius: 16px;
    color: #1f1e1e;
    background: rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}

.game-container h1 {
    color:rgba(255, 255, 255, 0.938);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: rgba(255, 153, 0, 0.83) 10px 0 35px;
    font-size: 48px;
}

#messages-container {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-0%);
    padding: 1px;
    min-width: 520px;
    min-height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color:#1f1e1e;
    font-size: 14px;
    background: rgba(9, 0, 22, 0.45);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}
#messages-output {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    min-height:35px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px rgb(0, 174, 255);
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(0, 0, 0, 0.19);
}
.fade-in-out {
    animation: fadeInOut 0.7s ease-in;
}

@keyframes fadeInOut {
    0%, 25% {
        opacity: 0;
    }

    75%, 100% {
        opacity: 1;
    }
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(157, 224, 255, 0.856);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
#level-buttons {
    display: flex;
    flex-direction: column; /* Dodaj tę linię */

}
.location-button {
    position:relative;
    height: 55px;
    width: 80px;
    margin: 5px;
    border-radius: 16px;
    border: none;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color:#fff;
    text-align:center;
    background: rgba(157, 255, 201, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: box-shadow 0.3s ease-in-out;
}

.location-button:hover {
    box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.719);
}
.location-button.active {
    text-decoration: underline;
    border:1px solid #000000;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.726);
    transition: all 0.5s ease-in-out;
}
@keyframes resultAnimation {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1.2); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

#result {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:sticky;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: color 2s ease-in-out;
    padding: 12px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(0, 0, 0, 0.19);
}
@keyframes resultXAnimation {
    0%   {font-size:37px; color: rgb(0, 0, 0); font-family:cursive;}
    50%  {font-size:37px; color: rgb(255, 255, 255); font-family:cursive;}
    100% {font-size:37px; color: rgb(0, 0, 0); font-family:cursive;}
}
.resultX {
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    background: 0;
    color: black;
    animation: resultXAnimation 3s infinite;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    visibility: hidden;
}



/* Plecak */

#inventory-modal {
    position: absolute;
    top:0;
    scale: 0.69;
    width: 100%;
    height: 70%;
    display: none;
}
.modal-content {
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 100%;
    height: 100%;
    background: rgba(66, 24, 0, 0.603);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border-radius:12px;
    visibility: visible;
    overflow-y:scroll;
    scrollbar-width: thin; /* Dla przeglądarek, które wspierają standard CSS Scrollbars */
    scrollbar-color: #000000 #ddd; /* Kolor paska przewijania i jego "kciuka" */

}
.modal-content::-webkit-scrollbar {
    width: 8px; /* Szerokość paska przewijania */
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: rgb(22, 8, 2); /* Kolor "kciuka" paska przewijania */
}

.modal-content::-webkit-scrollbar-track {
    background-color: #dddddd; /* Kolor tła paska przewijania */
}

.modal-content h2 {
    color:rgba(255, 255, 255, 0.938);
    font-family: cursive;
    text-shadow: rgba(255, 153, 0, 0.83) 10px 0 35px;
    font-size: 24px;
    text-align: center;
}

.modal-content h3 {
    color: #ffffff;
    font-family: cursive;
    font-size: 16px;
    text-align: center;
}

.close {
    color: #8d8d8d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.inventory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.inventory-divider {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #dddddd91;
    margin: 10px 0;
}

.inventory-item {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.inventory-item i {
    margin: 5px;
    scale:1.2;
}

.equipped-item {
    color: #000;
    border: 2px solid #000;
    font-size: 16px;
    margin-right: 2.22rem;
}
.amulet {
    position: absolute;
    font-size:3px;
    top:0;
    right:0;
    width:80px;
    height:80px;
    color:white;  
    border-radius: 20%;
    border: 3px solid rgba(0, 0, 0, 0.471);
    background: rgba(255, 84, 84, 0.463);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
}






