h2 {
    background:rgb(5, 248, 248);
    text-align:center;
    padding:10px;
    border:1px solid green;
    border-radius: 12px;

}
body {
    background: #50bfff83;
    font-family:Verdana;
    margin-left:20px;
    margin-right:20px}
td {
    background: #bebebece;
    position:relative;
    left:600;
    top:20%;
    padding:25px 25px;
    border-top:1px solid lightgray;
    border-left:1px solid lightgray;
    border-bottom:1px solid darkgray;
    border-right:1px solid darkgray;
    border-radius:6px;
    height: 50px;
    width: 50px;
    word-wrap: nowrap;
}
h1{
    text-align:center;
}
.error {
    background-color:#FF7F7F;
    color:red;
    padding:5px;
    margin:20px 50px;
    border:1px solid red;
}
.highlight {
    background:#1e0041;
    color:#FFFF;
}
a { 
    color:green;
}
td label { 

    cursor:pointer;
    margin: 25px;
}
form { 
    text-align: center;
    margin:5px;
    padding:5px;
    color:green;
}

